<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TSDP Portal for managing various systems in the company">
    <meta name="author" content="Information Technology Department">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>TSDP Portal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Great+Vibes&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1><img src="{{ url_for('static', filename='img/favicon.png') }}" style="max-width: 50px; height: auto;"></h1>
            <button class="menu-toggle" aria-label="Toggle Navigation">
                ☰
            </button>
            <nav class="nav-links">
                <a href='/'>Home</a>
                <a href='/service'>Service</a>
                <a href='/about'>About</a>
                <a href='/contact'>Contact</a>
                <a href='/km'>KM Portal</a>
                <a href='/career'>Career</a>

            </nav>
        </div>
    </header>

    <main>
        <video autoplay muted loop playsinline class="background-video">
            <source src="{{ url_for('static', filename='video/city.mp4') }}" type="video/mp4">
        </video>
    
        <div class="content-overlay">
            <h1 class="pacifico-regular">
                "Select the best
                <span class="shift-text">for your creations"</span>
            </h1>
        </div>
        <div class="footer-line">
            <p>Tama-Sopon Demo Products Co.,Ltd</p>
            <p>Develop by Thanapurt Sopon | Last Update 2025</p>
        </div>
    </main>

</body>
</html>
